// Colors
$background-purple-color: #eadaff
$background-light-purple-color: #f7f1ff
$dark-green-color: #4A645C
$green-color: #a0d5c2
$light-green-color: #d7eee6
$dark-purple-color: #8B6CB1
$purple-color: #c599ff
$light-purple-color: #d8baff
$granite-color: #3a3a3a
$orange-color: #f87537
$light-orange-color: #fba81f
$dark-orange-color: #89492B