@import '../base/variables'

@mixin hover-effect
  &:hover
    filter: drop-shadow(0px 2px 12px rgb(0 0 0 / 0.2))

.about-container
    display: flex
    align-items: center
    background-color: $background-light-purple-color
    padding-top: 1.5em
    padding-bottom: 0.5em

    @media (max-width: 768px) 
        flex-direction: column
        align-content: center
        height: fit-content
        padding-bottom: 1.5em

#sw-js-blob-svg
    transition: all 0.3s ease 0s
    @include hover-effect


.about-left
    flex: 1

    @media (max-width: 768px) 
        flex: none
        width: 100%

.about-right
    flex: 2
    padding: 0 20px

    @media (max-width: 768px) 
        flex: none
        width: 100%
        text-align: center

    .about-name
        font-size: 24px
        font-weight: bold

    .about-job
        font-size: 14px
        margin-top: 6px
        text-transform: uppercase
        opacity: 0.6

    .about-bio
        margin-top: 20px

.about-links
    padding-top: 15px
    display: flex
    justify-content: flex-start
    gap: 2em
    @media (max-width: 1100px) 
        flex-direction: column
        gap: 0.5em
    @media (max-width: 768px) 
        align-items: center
        gap: 1em

    .about-cv-link
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2)
        background: linear-gradient(to right, $orange-color 0%, $light-orange-color 50%, $orange-color 100%)
        border: $light-orange-color
        color: white
        position: relative
        overflow: hidden

        //button animation
        background-size: 200% auto 
        transition: background-position 0.5s 
        transition: all 0.3s ease

        &:hover
            box-shadow: 0px 1px 18px $orange-color
            background-position: right center
