@import '../base/variables'
@import '../base/typography'

.contact-container
  background: $background-light-purple-color
  padding: 20px

  .contact-main
    display: flex
    justify-content: space-between
    gap: 2em
    padding: 80px

    @media (max-width: 768px) 
      flex-direction: column
      padding: 12px

    .contact-info
      display: flex
      flex-direction: column
      align-items: flex-start
      gap: 30px
      min-width: 40%

      .contact-title
        color: $granite-color
        font-size: 32px

      .contact-subtitle
        font-size: 24px

    .contact-form
      width: 100%
      max-width: 900px

      .contact-form-title
        font-size: 20px
        font-weight: bold
        margin-bottom: 10px

      .contact-sentEmail-message
        .contact-sentEmail-message-waiting
          display: flex
          align-content: center
          gap: 0.5em
          font-size: 18px
          font-weight: 600
          color: $granite-color
          .circular-progress
            color: $purple-color
      
        .contact-sentEmail-message-success
          color: $dark-purple-color
          font-weight: 600
          font-size: 18px

      .contact-submit-button
        display: block
        border-radius: 2px
        background: linear-gradient(to right, $orange-color 0%, $light-orange-color 50%, $orange-color 100%)
        border-radius: 21px
        padding: 10px 40px
        margin-top: 10px
        color: white
        border: none
        cursor: pointer
        text-align: center
        font-family: "Epilogue", sans-serif
        font-size: 20px
        font-weight: 600
        text-transform: uppercase
        border: 1px solid $orange-color
        cursor: pointer
        box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12)

        position: relative
        overflow: hidden

        //button animation
        background-size: 200% auto 
        transition: background-position 0.5s 

        &:hover
            box-shadow: 0px 1px 18px $orange-color
            background-position: right center

        &:active
            transform: scale(.96)
            background: $orange-color
            animation: bounce-in .3s
            cursor: default

        @media (max-width: 768px) 
          width: 100%



  .contact-legal
    font-size: 12px
    padding: 0 15px

