@import '../base/variables'
@import '../base/typography'

.body-no-scroll
    overflow: hidden

// Styles pour le menu hamburger
.hamburger-menu 
    display: block
    cursor: pointer
    &:hover
        transform: scale(1.12)

    &.open
        display: none

    .bar 
        width: 25px
        height: 3px
        background-color: $purple-color
        margin: 4px 0
    
    // Cacher le menu hamburger sur les grands écrans
    @media (min-width: 768px) 
        display: none


.navigation-wrapper 
    &.open
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.5)
        z-index: 998
        position: fixed
        top: 0
        left: 0


.navigation-link
    color: $purple-color
    font-size: 24px
    font-weight: 600
    line-height: 34px
    text-transform: uppercase
    text-decoration: none

    &:hover
        transform: scale(1.03)

.navigation-links-container
    display: flex
    gap: 1em
    scroll-behavior: smooth

    @media (max-width: 768px) 
        display: none

    .close-icon
        cursor: pointer
        &:hover
            transform: scale(1.12)

    &.open 
        flex-direction: column
        padding: 10px 0 10px 0
        align-items: center
        text-align: center
        display: flex
        position: fixed
        top: 0
        left: 0
        width: 100%
        background-color: $background-purple-color
        z-index: 999

        .navigation-link
            color: $granite-color
            padding: 10px 0 10px 0
            width: 100%
            &:hover
                background-color: $granite-color
                color: white
