@import '../base/variables'
@import '../base/typography'
    
.social-links
    display: flex
    align-items: flex-start
    gap: 32px

    @media (max-width: 768px) 
        gap: 10px

    .social-icon
        color: $granite-color
        font-size: 40px

        @media (max-width: 768px) 
            font-size: 32px
