@import '../base/variables'
@import '../base/typography'
    
.social-links
    display: flex
    align-items: flex-start
    gap: 1.6em
    margin-right: 0.4em
    padding: 6px 0

    @media (max-width: 768px) 
        gap: 1em

    .social-icon
        color: $granite-color
        font-size: 40px

        @media (max-width: 768px) 
            font-size: 32px

        &:hover
            transform: scale(1.03)
