@import '../base/variables'
@import '../base/typography'

    
.text-field-container
    margin-bottom: 20px

    label
        display: block
        margin-bottom: 5px

    input,
    textarea
        width: 100%
        padding: 10px
        box-sizing: border-box // Inclus le padding et la bordure dans la largeur totale
        background: $light-purple-color
        color: $granite-color
        font-size: 17px
        font-family: Epilogue
        line-height: 27px
        border: none
        border-radius: 5px
        resize: vertical

        &:hover
            box-shadow: 0px 1px 14px $light-purple-color

    textarea
        min-height: 100px
