.about-container {
    display: flex;
    align-items: center;
}

.about-left {
    flex: 1;
}

.about-right {
    flex: 2;
    padding: 0 20px;
}

.about-name {
    font-size: 24px;
    font-weight: bold;
}

.about-job {
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
}

.about-bio {
    margin-top: 20px;
}

.about-cv-link {
    display: inline-block;
    text-decoration: none;
}

.about-cv-link:hover {
    background-color: var(--background-purple-color);
}
